@font-face{
	font-family: 'Space Mono';
	src: url('SpaceMono-Regular-webfont.eot');
	src: url('../fonts/SpaceMono-Regular-webfont.eot?iefix') format('eot'),
	     url('../fonts/SpaceMono-Regular-webfont.svg#SpaceMono-Regular') format('svg');
}

.space-mono{
	font-family: 'Space Mono'
}
